/* Google Fonts'tan Poppins fontunu import et */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #ff6f00; /* Ana Yeşil Renk */
  --primary-hover-color: #ff6f00; /* Yeşil Hover */
  --secondary-color: #f4f4f4; /* Açık Gri Arkaplan */
  --text-color: #333;
  --border-radius: 25px; /* Yuvarlak kenarlar için */
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Projenin ana fontu */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f9fc; /* Genel sayfa arkaplanı */
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}